* {
    box-sizing: border-box;
}

body,
h1,
h2,
ul {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #333; /* Цвет фона */
    color: #c0c0c0; /* Цвет текста */
}

.container {
    height: 700px;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по центру вертикальной оси */
    /* border: 1px solid #777; Цвет рамки */
    border-radius: 20px; /* Радиус скругления углов */
    background-color: #424242; /* Цвет фона */
    box-shadow: 10px 10px 20px #1a1a1a, -10px -10px 20px #494949; /* Тени */
}

.contact {
    padding: 20px;
    border-radius: 8px;
    background-color: #616161; /* Цвет фона */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тени */
}

.contact h2 {
    margin-top: 0;
    text-align: center;
    color: #c0c0c0; /* Цвет текста */
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #c0c0c0; /* Цвет текста */
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4a4a4a; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
}

button {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #1976D2;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.info_home {
    max-width: 400px;
    margin-right: 100px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.button_dovnload_cv {
    
}

.photo_home img {
    border: 1px solid #070707;
    border-radius: 50%;
    width: 100%;
}

.about {
    margin-top: 50px;
}

.contact_container {
    display: flex;
    align-items: center;
}

.social_links {
    
}

.contact {
    margin-top: 50px;
}

.social {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.social_links img   {
    width: 50px;
}

.social {
    text-decoration: none;
    color: #c0c0c0;
    align-items: center;
}

.social_description {
    margin-left: 10px;
}

#response-message {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

#footer {
    margin-top: auto; /* Блок будет всегда внизу родительского контейнера */
}